.modal_s {
    display: none;
    position: center;
    background-color: #fafafa;
    max-height: 100%;
    width: 85%;
    max-width: 100%;
    height: 84%;
    border-radius: 8px;
    will-change: opacity;
}
