<!DOCTYPE html>
<html lang="en">
<!------------------------------------------------------------------------------------------------------------------------------------------------------------------>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="imagenes/601.PNG" sizes="36x36">
    <link rel="apple-touch-icon-precomposed" href="images/favicon/apple-touch-icon-152x152.png">
    <link href="css/materialize.min.css" type="text/css" rel="stylesheet">
    <link href="css/style.min.css" type="text/css" rel="stylesheet">
    <link href="css/custom.min.css" type="text/css" rel="stylesheet">

    <meta charset="UTF-8">
    <title>Servicios</title>
    <script type="text/javascript"src="js/plugins/chartist.min.js"></script>
    <script type="text/javascript"src="js/plugins/chartist.css"></script>
    <script type="text/javascript"src="js/plugins/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript"src="js/plugins/jquery-1.11.2.min.js"></script>
    <link rel="stylesheet" href="=css/normalize.css">
    <link rel="stylesheet" href="css/materialize.min.css">
    <link rel="stylesheet" href="css/style.css">

    <script type="text/javascript"src="js/plugins/plugins.min.js"></script>

    <link rel="stylesheet" href="style.css">
    <link href="js/plugins/prism.css" type="text/css" rel="stylesheet">
    <link href="js/plugins/perfect-scrollbar.css" type="text/css" rel="stylesheet">
    <link href="js/plugins/chartist.min.css" type="text/css" rel="stylesheet">
    <title>Inicio</title>
</head>

<body>
<!------------------------------------------------------------------------------------------------------------------------------------------------------------------>

<!------------------------------------------------------------------------------------------------------------------------------------------------------------------>

<div id="main">

    <div id="panel1" class="row col pad">
        <div class="col s12 m10 offset-m1">
            <div class="card-panel">
                <h4 align="center">Servicios</h4>
                <hr /><!--ESTA LINEA DE CODIGO SE UTILIZA PARA CREAR LINEAS  -->
                <code class=" language-markup"><!--********************************--></code>
                <div class="row">
                    <!--********************************-->
                    <form class="col s12 right-alert">

                        <!--********************************-->
                        <div class="row">
                            <div class="input-field col s9">
                                <i class="mdi-action-verified-user prefix  icon-folder-open"></i>
                                <input id="Folio" type="text" class="validate">
                                <label for="Folio"  data-error="incorrecto" data-success="Correcto">Folio</label>
                            </div>
                        </div>

                        <!--********************************-->
                        <div class="row">
                            <div class="input-field col s9">
                                <i class="mdi-action-verified-user prefix icon-pencil"></i>
                                <input id="descripcion" type="text" class="validate">
                                <label for="descripcion"  data-error="incorrecto" data-success="Correcto">Descripción</label>
                            </div>
                        </div>

                        <!--***************m*****************-->
                        <!--********************************-->
                        <div class="row">
                            <div class="col l3 offset-l3">
                                <i class="mdi-action-verified-user prefix   icon-calendar"></i>

                                <label>Fecha de Inicio</label>
                                <input type="text" class="datepicker">
                                <script type="text/javascript">
                                    $(document).ready(function(){
                                        $('.datepicker').datepicker();
                                    });
                                </script>
                            </div>
                            <div class="col l3 offset-l1">
                                <i class="mdi-action-verified-user prefix   icon-clock"></i>
                                <label>Hora Inicio</label>
                                <input type="text" class="timepicker">
                                <script type="text/javascript">
                                    $(document).ready(function(){
                                        $('.timepicker').timepicker();
                                    });
                                </script>
                            </div>
                        </div>

                        <!--********************************-->
                        <div class="row">
                            <div class="col l3 offset-l3">
                                <i class="mdi-action-verified-user prefix   icon-calendar"></i>

                                <label>Fecha de Fin</label>
                                <input type="text" class="datepicker">
                                <script type="text/javascript">
                                    $(document).ready(function(){
                                        $('.datepicker').datepicker();
                                    });
                                </script>
                            </div>
                            <div class="col l3 offset-l1">
                                <i class="mdi-action-verified-user prefix   icon-clock"></i>

                                <label>Hora de Fin</label>
                                <input type="text" class="timepicker">
                                <script type="text/javascript">
                                    $(document).ready(function(){
                                        $('.timepicker').timepicker();
                                    });
                                </script>
                            </div>
                        </div>
                        <!--***************m*****************-->

                        <!--********************************-->
                        <div class="row">
                            <div class="input-field col s12">
                                <button class="btn waves-effect waves-light right #0097a7 cyan darken-2 modal-trigger"  href="#modal_registro" type="submit" name="action">Registrar</button>
                            </div>
                        </div>


                        <!-- Modal registro -->
                        <div id="modal_registro" class="modal">
                            <div class="modal-content">
                                <h5>Mensaje</h5>
                                <hr />
                                <h4>Registro exitoso</h4>
                            </div>
                            <div class="modal-footer">
                                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Aceptar</a>
                            </div>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
    <!--********************************-->
    <div id="paneltablas" class="row col ">
        <div class="col s12 m10 offset-m1">
            <div class="card-panel">
                <h4 align="center">Servicios que se Ofrecen</h4>
                <hr />

                <div class="row">
                    <div class="input-field col s4 offset-s8">
                        <i class="mdi-action-verified-user prefix icon-search"></i>
                        <input id="buscar" type="text">
                        <label for="hora_fin"  data-error="incorrecto" data-success="Correcto">Buscar</label>
                    </div>
                </div>


                <!-- Modal eliminar -->
                <div id="modal_eliminar" class="modal">
                    <div class="modal-content">
                        <h5>¿Desea Eliminar el Registro?</h5>
                        <hr />
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Aceptar</a>
                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
                    </div>

                </div>
                <!--*********************final modal eliminar***********-->
                <table class="centered">
                    <thead>
                    <tr>
                        <th>Folio</th>
                        <th>Descripción</th>
                        <th>Hora de Inicio</th>
                        <th>Hora de fin</th>
                        <th></th>
                        <th></th>

                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>12</td>
                        <td>Spa</td>
                        <td>1:00</td>
                        <td>4:00</td>
                        <td><a class="btn-flat modal-trigger icon-cross red-text" href="#modal_eliminar"></a></td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>Dorada</td>
                        <td>2:00</td>
                        <td>4:00</td>
                        <td><a class="btn-flat modal-trigger icon-cross red-text" href="#modal_eliminar"></a></td>

                    </tr>
                    <tr>
                        <td>14</td>
                        <td>Estrella</td>
                        <td>3:00</td>
                        <td>4:00</td>
                        <td><a class="btn-flat modal-trigger icon-cross red-text" href="#modal_eliminar"></a></td>

                    </tr>
                    </tbody>
                </table>
                <!--********************************-->

            </div>
        </div>
    </div>
</div>

<!------------------------------------------------------------------------------------------------------------------------------------------------------------------>
<script type="text/javascript" src="js/plugins/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="js/plugins/materialize.min.js"></script>
<script type="text/javascript" src="js/plugins/prism.js"></script>
<script type="text/javascript" src="js/plugins/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="js/plugins/chartist.min.js"></script>
<script type="text/javascript" src="js/plugins/chartist.min.js"></script>
<script src="js/plugins/masonry.pkgd.min.js"></script>
<script src="js/plugins/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript" src="js/plugins.min.js"></script>
<script type="text/javascript" src="js/custom-script.js"></script>
<!------------------------------------------------------------------------------------------------------------------------------------------------------------------>

</body>
</html>